{% extends 'base.html.twig' %}

{% block title %}Kuriosity - Réservation{% endblock %}

{% block body %}

    <section class="pricing">
        <h1>TARIFS</h1>
        <img src="{{ asset('images/scotch2.png') }}" alt="Scotch" class="scotch-image">
        <div class="scotch-title">
            <p>
                <span>Nombre d'agents</span>
                <span>Tarif par agent</span>
                <span>Tarif total</span>
            </p>
        </div>
        <div class="pricing-content">
            <div class="notebook-image">
                <table>
                    <tr>
                        <td>3</td>
                        <td>28€</td>
                        <td>84€</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>25€</td>
                        <td>100€</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>23€</td>
                        <td>115€</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>21€</td>
                        <td>126€</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>Pour les groupes de plus de 6 personnes, veuillez nous contacter à <br> l'adresse contact@kuriosity-club.fr</p>
    </section>


    <section class="reservation-section">
        <h3>RESERVATION</h3>
        <div class="reservation-content">
            <div class="reservation-box">
                <img src="{{ asset('images/tape1.png') }}" alt="Scotch" class="tape-image">
                <img src="{{ asset('images/reservation_missionk.png') }}" alt="Mission K" class="reservation-image">
                <div class="reservation-form">
                    <div class="date-picker">
                        <input type="text" id="date-input" placeholder="Choisissez une date" readonly>
                        <div class="availability-slots">
                            <!-- Les créneaux seront générés dynamiquement -->
                        </div>
                    </div>
                    <button id="reserve-btn" class="reserve-btn">Réserver</button>
                    <div class="reservation-details-container">
                        <p id="reservation-details"></p>
                    </div>
                </div>
            </div>
            <div class="reservation-box">
                <img src="{{ asset('images/tape1.png') }}" alt="Scotch" class="tape-image-bottom-right">

                <img src="{{ asset('images/reservation_maudits.png') }}" alt="Les Amants Maudits" class="reservation-image">
                <div class="reservation-form">
                    <div class="date-picker">
                        <input type="text" id="date-input-2" placeholder="Choisissez une date" readonly>
                        <div class="availability-slots">
                            <!-- Les créneaux seront générés dynamiquement -->
                        </div>
                    </div>
                    <button id="reserve-btn-2" class="reserve-btn">Réserver</button>
                    <div class="reservation-details-container">
                        <p id="reservation-details-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="cancellation-policy">
        <h1>Politique d'annulation</h1>
        <div class="notebook-container">
            <div class="cancellation-content">
                <p>
                    Les réservations effectuées sur notre site sont fermées et définitives.
                    Une fois la réservation validée et payée, aucun remboursement, report ou modification ne sera possible, quelle qu’en soit la raison. Toute place non utilisée sera perdue et ne donnera lieu à aucune compensation.
                </p>
                <p>
                    En cas d’annulation de la session par Kuriosity-Club pour des raisons indépendantes de votre volonté, la totalité du montant payé sera remboursée. Toutefois, aucun autre dédommagement ou indemnité ne pourra être réclamé par le Client.                </p>
            </div>
        </div>
    </section>

    <section class="payment-methods">
        <h1>Mode de paiement accepté</h1>
        <p>Voici les différents moyens de paiement que nous <br> acceptons, merci de vous y conformer</p>
        <div class="payment-icons">
            <img src="{{ asset('images/visa.png') }}" alt="Visa">
            <img src="{{ asset('images/mastercard.png') }}" alt="MasterCard">
            <img src="{{ asset('images/applepay.png') }}" alt="Apple Pay">
            <img src="{{ asset('images/sans-contact.png') }}" alt="Paiement sans contact">
            <img src="{{ asset('images/gpay.png.png') }}" alt="Google Pay">
            <img src="{{ asset('images/paypal.png') }}" alt="PayPal">
        </div>
    </section>

{% endblock %}
